include *.txt
global-exclude *.pyc
graft src/slc/clicktracker/profiles
graft src/slc/clicktracker/sql
graft src/slc/clicktracker/browser
recursive-include src/slc/clicktracker *.zcml
recursive-include src/slc/clicktracker *.dtml
recursive-include src/slc/clicktracker/locales *.mo
recursive-include src/slc/clicktracker/locales *.po
